<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>examp-1</title>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="app">
      <h1>{{title}}</h1>
      <input v-model="text" type="text" />
      {{text}}
      <button @click="add">ekle</button>
                  <ul>
        <li v-for="i in todoList" :key="i">
          {{i}} <button @click="remove(i)">Sil</button>
        </li>
      </ul>
    </div>

    <script src="app.js"></script>
  </body>
</html>
